body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6 { margin:0;padding:0;border-bottom:2px solid orange }

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

input[type=checkbox] { display:inline; }

img {
	max-width: 300px;
}
img.badge { border-radius:50%;border:5px solid #c7c7c7;box-shadow:5px 10px 5px #a7a7a7; }
img#profile-badge { border:10px solid #c7c7c7;box-shadow:10px 20px 10px #a7a7a7; }
/*** Profile Styles ***/
#profile-img { display:flex;justify-content:center;margin-bottom:30px; }
#profile-img img { border-radius:50%;border:10px solid #c7c7c7;box-shadow:10px 20px 10px #a7a7a7; }
/* .container { display:flex;justify-content:space-between;align-items:stretch;margin-bottom:30px;} */
/* .content-bubble:not(:last-child) { margin-bottom:15px; } */
.content-bubble { margin-bottom:15px;padding:15px;border-radius:15px;border:1px solid #c7c7c7;background-image:linear-gradient(#ddd, #c7c7c7);flex:1 1 0; }
.content-bubble h3 { white-space: nowrap;margin-bottom:15px; }
.content-bubble ul { margin:15px 15px 0 15px;padding:0; }
.content-bubble li { margin-bottom:5px;padding:0; }

.bubbles { display:flex;justify-content:space-between;align-items:top;align-content:center; }
.bubble { flex:1 1 0; }
.bubble .badge { width:auto;height:120px; }
.bubble img { margin:0 auto 10px auto;display:block; }
.bubble figcaption { display:block;text-align:center; }